/*
===========================
CSS styling of cube factory 
==============================
*/



/*Global resets*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Man Body styling*/
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}


/* Mian Wrapper styling*/
.main-wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
}


/*Left side*/
.left-side {
    flex: 1;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
}

/*Main brnad contianer*/
.brand-container {
    margin-bottom: 14%;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.brand-container p{
    font-size: larger;
    margin: 5px;
}


/*deep part fo Qubes Brnad name*/
.deep {
    font-weight: bold;
    font-size: 20px;
}

/*Qubes logo styling*/
.brand-container .Qubes-contianer  {
    height: 32px;
    /* border: 1px solid black; */
    width: 30px;
    height: 30px;
    position: relative;
}
/*Qube boxes */
.qubes1{
    background:#5F449C;
    width:12px;
    height: 12px;
    position: absolute;
}

/*Secodn Psydoe Qube*/
.qubes1::before {
    background:#5F449C;
    content:  "";
    position: absolute;
    width:12px;
    height: 12px;
    top: 14px;
}


/*Second   qubes */ 
/*tited  Qube*/
.rotatedqube{
    background:#A88BDB;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 15px;
    bottom: 19px;
    /*rotate qube*/
    transform: rotate(40deg);
}

/*Second Imaginary qube */
.qubes2{
    content: "";
    background: #5F449C;
    width: 12px;
    height: 12px;
    position: absolute;
    left:14px;
    top: 14px;
}


/*Main form contianer*/
.form-container {
    max-width: 380px;
}


/*Form header*/
.form-header h1 {
    font-size: 28px;
    margin-bottom: 8px;
}

.form-header p {
    font-size: 14px;
    color: #666;
    margin-bottom: 32px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


/*Lable styling*/
.input-group label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 10px;
}

.input-group input {
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
}


.secondary-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-bottom: 24px;
}

.remember-container {
    display: flex;
    align-items: center;
    gap: 6px;
}

.secondary-option a {
    text-decoration: underline;
    color: #5F449C;
    font-weight: bold;
}

.signin-container button {
    width: 100%;
    padding: 12px;
    background: #61459E;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: bold;
}

/*OAUTH CONTAINER*/
.oauth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 24px;
}

/*Google image styling*/
.oauth-container img {
    height: 18px;
}

/*OAUTH link styling*/
.oauth-container a {
    text-decoration: none;
    font-size: 14px;
    color: #000;
}

/*Login Option styling*/
.login-opt-container {
    text-align: center;
    font-size: 14px;
}

/*login  link styling*/
.login-opt-container a {
    color: #6b4eff;
    text-decoration: none;
    margin-left: 4px;
}



/*Right side styles */
.right-side {
    flex: 1;
    background: #b49be8;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*style alter*/
.illustration-container img {
    max-width: 80%;
    height: auto;
}
