/*
===========================
CSS styling of cube factory 
==============================
*/



/*Global resets*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Man Body styling*/
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}


/* Mian Wrapper styling*/
.main-wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
}


/*Left side*/
.left-side {
    flex: 1;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
}

/*Main brnad contianer*/
.brand-container {
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.brand-container p{
    font-size: larger;
    margin: 5px;
}


/*deep part fo Qubes Brnad name*/
.deep {
    font-weight: bold;
    font-size: 20px;
}

/*Qubes logo styling*/
.brand-container .Qubes-contianer  {
    height: 32px;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    position: relative;
}


.form-container {
    max-width: 380px;
}

.form-header h1 {
    font-size: 28px;
    margin-bottom: 8px;
}

.form-header p {
    font-size: 14px;
    color: #666;
    margin-bottom: 32px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-group label {
    font-size: 14px;
    margin-bottom: 6px;
}

.input-group input {
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
}


.secondary-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-bottom: 24px;
}

.remember-container {
    display: flex;
    align-items: center;
    gap: 6px;
}

.secondary-option a {
    text-decoration: none;
    color: #6b4eff;
}

.signin-container button {
    width: 100%;
    padding: 12px;
    background: #6b4eff;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 20px;
}


.oauth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 24px;
}

.oauth-container img {
    height: 18px;
}

.oauth-container a {
    text-decoration: none;
    font-size: 14px;
    color: #000;
}


.login-opt-container {
    text-align: center;
    font-size: 14px;
}

.login-opt-container a {
    color: #6b4eff;
    text-decoration: none;
    margin-left: 4px;
}




.right-side {
    flex: 1;
    background: #b49be8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.illustration-container img {
    max-width: 80%;
    height: auto;
}
