/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: #fff;
}

/* Colors */
:root{
    --primary-color: #0022e6be;
    --text-color: #000311be;
}

/* Main Layout */
.container{
    display: flex;
    width: 100%;
    height: 100%;
}

/* Left Side */
.left-side{
    width: 55%;
    height: 100%;
    border-right: 2px solid #7084f3be;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrap{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title{
    text-align: center;
    color: var(--primary-color);
}

/* Form */
form{
    display: flex;
    flex-direction: column;
    gap: 18px;

    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 35px;
    box-shadow: 0px 0px 3px #000;
    background: #fff;
}

form input{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
}

form button{
    padding: 12px;
    border-radius: 20px;
    background: var(--primary-color);
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Right Side */
.right-side{
    width: 45%;
    height: 100%;
    background: url('../images/bg-image.jpg');
    background-size: cover;
    background-position: center;
}
